<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="strconn" connectionString="IntegratedSecurity = SSPI ; Initial catalog = GHARPARAPP ; Data Source = CYBER\SQLEXPRESS " />
    <add name="gharparapp.Properties.Settings.GHARPARAPPConnectionString" connectionString="Data Source=CYBER\SQLEXPRESS;Initial Catalog=GHARPARAPP;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="GHARPARAPPEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CYBER\SQLEXPRESS;initial catalog=GHARPARAPP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>